:root {
  --tomoe-size: calc(100px / 6.5);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #111;
}

.ContainerLoader {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 100vh;
}
.sharingan {
  width: 120px;
  height: 120px;
  border: calc(100px / 30) solid #000;
  border-radius: 50%;
  background: hsl(0, 100%, 36%);
  box-shadow: 0 0 30px 4px #000 inset;
  position: relative;
}

.pupil {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 20px;
  height: 20px;
  background: #000;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 2px 3px #000;
}

.iris {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  transform: translate(-50%, -50%);
  border: 3px solid rgba(0, 0, 0, 0.596);
  border-radius: 50%;
}

.tomoes {
  height: 100%;
  width: 100%;
  animation: rotateIris 1.4s infinite;
}
.tomoe-area {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 50%;
  left: 50%;
  border-radius: 50%;

  transform: translate(-50%, -50%);
}

.tomoe {
  width: calc(100px / 6.5);
  height: calc(100px / 6.5);
  position: absolute;
  background: #000;
  border-radius: 50%;
  left: 50%;
  top: -16.6%;
  transform: translate(-50%, -50%);
}
.tomoe::before {
  content: "";
  position: absolute;
  top: -30.3%;
  left: 3.1%;
  width: calc(var(--tomoe-size) * 1.51);
  height: calc(var(--tomoe-size) * 1.69);
  border-radius: 50%;
  border-top: calc(var(--tomoe-size) / 2.6) solid #000;
  border-left: calc(var(--tomoe-size) / 9.7) solid transparent;
  transform: rotate(-35deg);
}

@keyframes rotateIris {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.tomoe-area:first-child {
  transform: translate(-50%, -50%);
}
.tomoe-area:nth-child(2) {
  transform: translate(-50%, -50%) rotate(120deg);
}
.tomoe-area:nth-child(3) {
  transform: translate(-50%, -50%) rotate(-120deg);
}

.ContainerLoader p {

  position: absolute;
  color: #fff;
  font-size: 1.5em;
  font-family: consolas;
  bottom: -80px;
  letter-spacing: 0.15em;
}



/*.dot-shuttle */
.dot-shuttle {
  position: relative;
  left: 35px;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  background-color: #fff;
  color: transparent;
  margin: 10px 0;
  filter: blur(2px);
}

.dot-shuttle::before, .dot-shuttle::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  background-color: #fff;
  color: transparent;
  filter: blur(2px);
}

.dot-shuttle::before {
  left: 15px;
  animation: dotShuttle 2s infinite ease-out;
}

.dot-shuttle::after {
  left: 30px;
}

@keyframes dotShuttle {
  0%,
  50%,
  100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-45px);
  }
  75% {
    transform: translateX(45px);
  }
}
